{% load static %}
<html>
    <head>
        <title>
            {%block title%}
            {%endblock%}
        </title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    </head>
    <body>
        <table width="100%" heigt="100%" frame="void" rules="rows">
            <tr bgcolor="Gainsboro">
                <td width="250" bgcolor="Lightgrey">
                    <a href="{% url 'index' %}"><font size="5">На главную</font></a><br>
                    <a href="{{request.META.HTTP_REFERER}}"><font size="5">Назад</font></a>
                </td>
                <td align="center" valign="middle">
                    <font size="10" color="DarkBlue"><b>КНИЖНЫЙ МАГАЗИН</b></font>
                </td>
                <td width="100" height="10" align="center" bgcolor="Lightgrey" >
                {%block login%}
                    {%if user.is_authenticated%}
                        {%if user.is_staff%}
                            <div><a href="/admin/"><font size="4">{{user.get_username}}</font></a></div>
                        {%else%}
                            {% for group in request.user.groups.all %}
                                {%if group.name == 'clients'%}
                                    <div><a href="{% url 'profile' %}"><font size="4">{{user.get_username}}</font></a></div>
                                {%elif group.name == 'workers'%}
                                    <div><a href="{% url 'worker' %}"><font size="4">{{user.get_username}}</font></a></div>
                                {%endif%}
                            {%endfor%}  
                        {%endif%}
                        <a href="{% url 'logout' %}">Выйти</a>
                    {%else%}
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                    {%endif%}
                {%endblock%}
                </td>
            </tr>
            <tr>
                <td height="100%" valign="top" bgcolor="AliceBlue">
                    <br>
                    {%block navigate%}
                    {%endblock%}
                </td>
                <td colspan="2">
                    {%block view%}
                    {%endblock%}
                </td>
            </tr>
        </table>
    </body>
</html>