{%extends "base_template.html"%}

{%block title%}
    book_add
{%endblock%}

{%block navigate%}
<form action="{% url 'worker' %}">
    <button type="submit">Назад</button>
</form>
{%endblock%}

{%block view%}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {%for field in form%}
            <p><b>{{field.label}}:</b><br>{{field}}
            {%if field.errors%}
                {%for error in field.errors%}
                    <font color="red">{{error}}</font>
                {%endfor%}
            {%endif%}</p>
        {%endfor%}
    <input type="submit" value="Сохранить" />
    </form>
{%endblock%}