{%extends "base_template.html"%}

{%block title%}
profile
{%endblock%}

{%block navigate%}
<form action="{% url 'user_update' %}">
    {% csrf_token %}
    <p>{{user.first_name}} {{user.last_name}}</p>
    <p>{{user.email}}</p>
    <p><input type="submit" value="Редактировать профиль" name="butuserupdate"/></p>
</form>
<hr>
<form action="{% url 'money_plus' %}">
    {% csrf_token %}
    <p><b>Ваш баланс:</b></p>
    {{money.money}}
    <p><input type="submit" value="Пополнить" name="butmoney"/></p>
</form>
{%endblock%}

{%block view%}
    <h3>Мои покупки:</h3>
        {%if buys%}
            {%for item in buys%} 
            <form action="{% url 'buydelete' %}" method="post">
                {% csrf_token %}
                <p><a href="{{item.book.get_absolute_url}}">{{item.book}}</a>    <input type="submit" value="Удалить" name="butdelete"/><input type="hidden" value="{{item.id}}" name="hidden_id"/></p>
            </form>
            {%endfor%}
        {%else%}
            <p>Покупок нет</p>
        {%endif%}
        <hr>
        <h3>Мои взятые книги:</h3>
        {%if rents%}
            {%for item in rents%} 
            <form action="{% url 'bookreturn' %}" method="post">
                {% csrf_token %}
                {%if item.day_of_return > 0%}
                    <p><a href="{{item.book.get_absolute_url}}">{{item.book}}</a>    (осталось {{item.day_of_return}} дней)  <input type="submit" value="Вернуть" name="butreturn"/><input type="hidden" value="{{item.id}}" name="hidden_id"/></p>
                {%elif item.day_of_return == 0%}
                    <p><a href="{{item.book.get_absolute_url}}">{{item.book}}</a>    (вернуть сегодня)  <input type="submit" value="Вернуть" name="butreturn"/><input type="hidden" value="{{item.id}}" name="hidden_id"/></p>
                {%elif item.day_of_return < 0%}
                    <p><a href="{{item.book.get_absolute_url}}">{{item.book}}</a>    <font color="red">просрочена!</font>  <input type="submit" value="Вернуть" name="butreturn"/><input type="hidden" value="{{item.id}}" name="hidden_id"/></p>
                {%endif%}
            </form>
            {%endfor%}
        {%else%}
            <p>Книг нет</p>
        {%endif%}
{%endblock%}